{% extends "includes/auth_layout.html" %}
{% block content %}
<style>
    .h-100{
        background-image: url('../static/assets/images/login-cover.jpg');
        background-size:     cover;
    } 
</style>
<div class="login-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    {% include "includes/messages.html" %}
                    <div class="card">
                        <div class="card-body">
                            <div class="logo text-center">
                                <a href="{{ url_for('auth.login') }}">
                                    <img src="{{ url_for('static', filename='assets/images/a-dre-sms.png') }}" alt="">
                                </a>
                            </div>
                            <h4 class="text-center mt-5">Reset Password</h4>
                            <p class="text-center">Enter your Email and instructions will be sent to you!</p>
                            <form class="mt-5 mb-5" method="POST">
                                {{ form.csrf_token }}
                                <div class="form-group">
                                    {% if form.email.errors %}
                                    <div class="input-group input-danger">
                                        {{ form.email(class="form-control is-invalid", placeholder="abc@example.com") }}
                                        <div class="input-group-append">
                                            <span class="input-group-text bg-transparent"> 
                                                <i class="fa fa-times text-danger" aria-hidden="true"></i> 
                                            </span>
                                        </div>
                                        {% for error in form.email.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                    
                                    {% else %}
                                    {{ form.email(class="form-control", placeholder="abc@example.com") }}
                                    {% endif %}
                                </div>
                                <div class="text-center mb-4 mt-5">
                                    {{ form.submit(class="btn btn-primary") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}