[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-mail = "*"
flask-migrate = "*"
pymysql = "*"
email-validator = "*"
itsdangerous = "==2.0.1"
flask-uploads = "*"

[dev-packages]

[requires]
python_version = "3.10"
