{% extends 'includes/admin_dashboard_layout.html' %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col p-md-0">
                <h4>Edit Teacher Details</h4>
            </div>
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('main.homepage') }}">Home</a>
                    </li>
                    <!-- <li class="breadcrumb-item"><a href="javascript:void()">Forms</a>
                    </li> -->
                    <li class="breadcrumb-item active">Edit Teacher Details
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {% include "includes/messages.html" %}
                <div class="card forms-card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Edit Teacher Details</h4>
                        <div class="basic-form">
                            <form method="POST" enctype="multipart/form-data">
                                {{ form.csrf_token }}
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            {{ form.first_name.label(class="text-label") }}
                                            {% if form.first_name.errors %}
                                            <div class="input-group input-danger">
                                                {{ form.first_name(class="form-control is-invalid") }}
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-transparent"> 
                                                        <i class="fa fa-times text-danger" aria-hidden="true"></i> 
                                                    </span>
                                                </div>
                                                {% for error in form.first_name.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            
                                            {% else %}
                                            {{ form.first_name(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            {{ form.last_name.label(class="text-label") }}
                                            {% if form.last_name.errors %}
                                            <div class="input-group input-danger">
                                                {{ form.last_name(class="form-control is-invalid") }}
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-transparent"> 
                                                        <i class="fa fa-times text-danger" aria-hidden="true"></i> 
                                                    </span>
                                                </div>
                                                {% for error in form.last_name.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            
                                            {% else %}
                                            {{ form.last_name(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            {{ form.mid_name.label(class="text-label") }}
                                            {% if form.mid_name.errors %}
                                            <div class="input-group input-danger">
                                                {{ form.mid_name(class="form-control is-invalid") }}
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-transparent"> 
                                                        <i class="fa fa-times text-danger" aria-hidden="true"></i> 
                                                    </span>
                                                </div>
                                                {% for error in form.mid_name.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            
                                            {% else %}
                                            {{ form.mid_name(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            {{ form.email.label(class="text-label") }}
                                            {% if form.email.errors %}
                                            <div class="input-group input-danger">
                                                {{ form.email(class="form-control is-invalid", placeholder="abc@example.com") }}
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-transparent"> 
                                                        <i class="fa fa-times text-danger" aria-hidden="true"></i> 
                                                    </span>
                                                </div>
                                                {% for error in form.email.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            
                                            {% else %}
                                            {{ form.email(class="form-control", placeholder="abc@example.com") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            {{ form.password.label(class="text-label") }}
                                            {% if form.password.errors %}
                                            <div class="input-group input-danger">
                                                {{ form.password(class="form-control is-invalid") }}
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-transparent"> 
                                                        <i class="fa fa-times text-danger" aria-hidden="true"></i> 
                                                    </span>
                                                </div>
                                                {% for error in form.password.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            
                                            {% else %}
                                            {{ form.password(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            {{ form.join_date.label(class="text-label") }}
                                            {% if form.join_date.errors %}
                                            <div class="input-group input-danger">
                                                {{ form.join_date(class="form-control is-invalid datepicker-autoclose", placeholder="yyyy-mm-dd") }}
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-transparent"> 
                                                        <i class="fa fa-times text-danger" aria-hidden="true"></i> 
                                                    </span>
                                                </div>
                                                {% for error in form.join_date.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            
                                            {% else %}
                                            {{ form.join_date(class="form-control datepicker-autoclose", placeholder="yyyy-mm-dd") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label for="" class=text-label>Course</label>
                                            <select class="form-control single-select" name="course" id="course" required>
                                                <option value="{{ teacher.course_id }}" style="display: none;">
                                                    {{ teacher.teacher_course.name }}
                                                </option>
                                                {% if courses %}
                                                {% for course in courses%}
                                                <option value="{{ course.id }}">{{ course.name }}</option>
                                                {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            {{ form.mobile_no.label(class="text-label") }}
                                            {% if form.mobile_no.errors %}
                                            <div class="input-group input-danger">
                                                {{ form.mobile_no(class="form-control is-invalid") }}
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-transparent"> 
                                                        <i class="fa fa-times text-danger" aria-hidden="true"></i> 
                                                    </span>
                                                </div>
                                                {% for error in form.mobile_no.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            
                                            {% else %}
                                            {{ form.mobile_no(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label class="text-label">Gender</label>
                                            <select name="gender" class="form-control" id="gender" required>
                                                <option value="{{ teacher.gender }}" style="display: none;">
                                                    {{ teacher.gender }}
                                                </option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            {{ form.nationality.label(class="text-label") }}
                                            {% if form.nationality.errors %}
                                            <div class="input-group input-danger">
                                                {{ form.nationality(class="form-control is-invalid") }}
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-transparent"> 
                                                        <i class="fa fa-times text-danger" aria-hidden="true"></i> 
                                                    </span>
                                                </div>
                                                {% for error in form.nationality.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            
                                            {% else %}
                                            {{ form.nationality(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            {{ form.birth_date.label(class="text-label") }}
                                            {% if form.birth_date.errors %}
                                            <div class="input-group input-danger">
                                                {{ form.birth_date(class="form-control is-invalid datepicker-autoclose", placeholder="yyyy-mm-dd") }}
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-transparent"> 
                                                        <i class="fa fa-times text-danger" aria-hidden="true"></i> 
                                                    </span>
                                                </div>
                                                {% for error in form.birth_date.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            
                                            {% else %}
                                            {{ form.birth_date(class="form-control datepicker-autoclose", placeholder="yyyy-mm-dd") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            {{ form.teacher_id.label(class="text-label") }}
                                            {% if form.teacher_id.errors %}
                                            <div class="input-group input-danger">
                                                {{ form.teacher_id(class="form-control is-invalid") }}
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-transparent"> 
                                                        <i class="fa fa-times text-danger" aria-hidden="true"></i> 
                                                    </span>
                                                </div>
                                                {% for error in form.teacher_id.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            
                                            {% else %}
                                            {{ form.teacher_id(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            {{ form.permanent_add.label(class="text-label") }}
                                            {{ form.permanent_add(class="form-control", rows=4) }}
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label for="" class=text-label>Department</label>
                                            <select class="form-control single-select" name="department" id="department" required>
                                                <option value="{{ teacher.department_id }}" style="display: none;">{{ teacher.teacher_department.name }}</option>
                                                {% if departments %}
                                                {% for department in departments%}
                                                <option value="{{ department.id }}">{{ department.name }}</option>
                                                {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="text-label">Profile Picture</label>
                                    <div class="dropify-default">
                                        <input type="file" class="dropify" name="teacher_pic"
                                            data-default-file="{{ url_for('static', filename='assets/images/users_profile/'+ teacher.user_image) }}" 
                                            data-max-file-size="3M" 
                                            data-allowed-file-extensions="pdf png psd jpeg jpg gif"/>
                                    </div>
                                </div>                           
                                {{ form.submit(class="btn btn-primary btn-form mr-2") }}                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- #/ container -->
</div>
{% endblock content %}