{% extends 'includes/admin_dashboard_layout.html' %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col p-md-0">
                <h4>All <span>Teachers</span></h4>
            </div>
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">View Teachers</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% include "includes/messages.html" %}
                <div class="card">
                    <div class="card-header pb-0">
                        <h4 class="card-title">Teacher List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="example-style display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Teacher ID</th>
                                    <th>Name</th>                                    
                                    <th>Department</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for teacher in teachers %}
                                <tr>
                                    <td>
                                        <a href="#">
                                            <img src="{{ url_for('static', filename='assets/images/avatar/1.jpg') }}" 
                                            alt="teacher Image.jpg" style="border-radius:50%">
                                        </a>
                                    </td>
                                    <td>{{ teacher.teacher_id }}</td>
                                    <td>
                                        {{ teacher.first_name }} {{ teacher.last_name }}
                                    </td>                                    
                                    <td>{{ teacher.department }}</td>                                    
                                    <td>{{ teacher.gender }}</td>
                                    <td>{{ teacher.email}}</td>
                                    <td>{{ teacher.mobile_no }}</td>
                                    <td>
                                        <span>
                                            <a href="{{ url_for('admin.edit_teacher', teacher_id=teacher.teacher_id) }}" class="mr-4" data-toggle="tooltip" 
                                                data-placement="top" title="" data-original-title="Edit">
                                                <i class="fa fa-pencil color-primary"></i> 
                                            </a>
                                            <a href="javascript:void()" data-toggle="modal" 
                                                data-placement="top" title="Delete" data-target="#basicModal-{{ teacher.teacher_id }}" 
                                                data-original-title="Delete">
                                                <i class="fa fa-close color-danger" style="color: red;"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                                <!-- Modal -->
                                <div class="modal fade" id="basicModal-{{ teacher.teacher_id }}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"><strong>Teacher ID:</strong> {{ teacher.teacher_id }}</h5>
                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" style="color: black;">
                                                Are you sure you want to delete 
                                                <strong>{{ teacher.first_name }} {{ teacher.last_name }}</strong> 
                                                personal records from database?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                                <form method="POST" 
                                                    action="{{ url_for('admin.delete_teacher', teacher_id=teacher.teacher_id) }}">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Teacher ID</th>
                                    <th>Name</th>                                    
                                    <th>Department</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
{% endblock content %}
